@import url('https://fonts.googleapis.com/css2?family=Cherish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	line-height: 1.6em;
	margin: 0;
}
.back{
	background-image: url('../images/background_image.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}

.skills{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	font-family: 'Cherish', cursive;
	font-size: 15px;
	text-align: center;
	background-color: #25E6AA;
	color: #fff;
}
#navbar{
	background-color: #333;
	color: #fff;
}
#navbar ul{
	padding: 0;
    list-style: none;
    text-align: center;
}
#navbar li{
	display:inline;

}
#navbar a{
	color: #fff;
	padding:25px ;
	text-decoration: none;
	font-family: 'Inter', sans-serif;;
}
#main{
	width: 70%;
}
#sidebar{
	float: right;
	width: 200px;
	height: 200px;
	
}
.block1{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;

}
.block1 p{
	text-align: centre;
	font-weight: Bold;

}
.block1 img{
	width: 70%;
	height: 70%;
}
.block2{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
.block2 p{
	text-align: centre;
	font-weight: Bold;

}
.block2 img{
	width: 70%;
	height: 70%;

}
.block3{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
.block3 p{
	text-align: centre;
	font-weight: Bold;

}
.block3 img{
	width: 70%;
	height: 70%;

}

	
