@import url('https://fonts.googleapis.com/css2?family=Cherish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* About me font*/ @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
body{
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	line-height: 1.6em;
	margin: 0;
}
.back{
	background-image: url('../images/background_image.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;

}

#showcase{
	color: #EB3454;
}

.flexbox{
	width: 80%;
	display: flex;
	margin: auto;
	/* background-color: #25E6AA  25E6AA; */ 
	max-height: 70%;
	padding-bottom: 10px;
}

.side-image{
	/* background-color: red; */
	max-height:100%; 
	max-width:400px;
	float: right;
}

.skills{
	width: 80%;
	margin: auto;
	overflow: hidden;
	letter-spacing: 1em;
	font-family: 'Montserrat Alternates', sans-serif;
}

#main-header{
	font-family: 'Cherish', cursive;
	font-size: 15px;
	text-align: center;
	background-color: #080C14;
	color: #fff;
}
#navbar{
	background-color: #333;
	color: #fff;
}
#navbar ul{
	padding: 0;
    list-style: none;
    text-align: center;
}
#navbar li{
	display:inline;

}
#navbar a{
	color: #fff;
	padding:25px ;
	text-decoration: none;
	font-family: 'Inter', sans-serif;;
}
#main{
	width: 200%;
}
#sidebar{
	float: right;
	width: 200px;
	height: 200px;
	
}
.block1{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
    background-color: #ffd9d7;
    height: 500px;
}
.block1 p{
	text-align: centre;
	font-weight: Bold;
	color: #002140;

}
.block1 h1{
	text-align: centre;
	font-weight: Bold;

}
.block1 img{
	width: 60%;
	height: 55%;
}
.block2{
	float: centre;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	background-color: #ffd9d7
}
.block2 p{
	text-align: centre;
	font-weight: Bold;


}
.block2 img{
	margin-left: 540px;
	width: 25%;
	height: 25%;

}
#main-footer p{
	text-align: center;
}



	
